Wniosek urlopowy: {{#with requester}}{{this.full_name}}{{/with}}, okres: {{>leave_date_short leave=leave }}
=====
<p>Dzień dobry,</p>

<p>Niniejszym składam wniosek o dni wolne.</p>
<p>Rodzaj: {{#with leave}}{{~# if this.get_leave_type_name ~}}{{~ this.get_leave_type_name }}{{else}}Urlop{{/if}}{{/with}}</p>
<p>Okres: {{>leave_date_short leave=leave }}</p>

<p>Pozdrawiam</p>
<p>{{#with requester}}{{this.full_name}}{{/with}}</p>

<p>{{> email/link href=(concatenate (get_application_domain) '/requests/' ) text='Zobacz'}}</p>
